.item_holder {
  background-color: white;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 45px;
  margin-bottom: 10%;
  border-top: 0px darkgrey;
  border-top-style: solid;
}

.item_input {
  font-family: "Roboto", "Gotham", "Calibri";
  font-size: 40px;
  font-weight: 250;
  font-style: italic;
  color: black;
  background-color: #f7f4f4;
  border-left: 1px darkgrey;
  border-right: 1px darkgrey;
  border-bottom: 1px darkgrey;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  text-align: center;
  width: 100%;
}

.item {
  font-family: "Roboto", "Gotham", "Calibri";
  font-size: 40px;
  font-weight: 250;
  color: black;
  border-left: 1px darkgrey;
  border-right: 1px darkgrey;
  border-bottom: 1px darkgrey;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  width: 100%;
}

.item_completed {
  text-decoration: line-through;
  color: grey;

  font-family: "Roboto", "Gotham", "Calibri";
  font-size: 40px;
  font-weight: 250;
  border-left: 1px darkgrey;
  border-right: 1px darkgrey;
  border-bottom: 1px darkgrey;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
}

body {
  background-color: #e2e2e2;
}

h1 {
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 100px;
  color: #f77e7e;
}
