/* NORMAL SETTINGS */
@media only screen and (orientation: landscape) {
  .item_holder {
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 45px;
    margin-bottom: 10%;
    border-top: 0px darkgrey;
    border-top-style: solid;
  }
}

/* PORTRAIT/MOBILE-ONLY SETTINGS */
@media only screen and (orientation: portrait) {
  .item_holder {
    background-color: white;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1;
    border-top: 0px darkgrey;
    border-top-style: solid;
  }

  h1 {
    font-size: 120px !important;
  }

  .item_input, .item, .item_completed {
    font-size: 60px !important;
}
}

/* GENERAL SETTINGS */
.item_input, .item, .item_completed {
  font-family: "Roboto", "Gotham", "Calibri";
  font-size: 40px;
  font-weight: 250;
  border-left: 1px darkgrey;
  border-right: 1px darkgrey;
  border-bottom: 1px darkgrey;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  width: 100%;
  text-align: center;
  background-color: white;
}

.item_input {
  font-style: italic;
  color: black;
  background-color: #f7f4f4;
}

.item {
  color: black;
}

.item_completed {
  text-decoration: line-through;
  color: grey;
}

body {
  background-color: #e2e2e2;
}

h1 {
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 100px;
  color: #f77e7e;
}
